@import 'tailwindcss/preflight';
@tailwind utilities;
@import 'tailwindcss';

@theme {
  --color-primary: #ee0033;
  --color-danger: #ef4444;
  --color-primary: #ee0033;
  --color-background: #f5f8fa;
--color-selectBtn: #f0f3f4;
}
.custom-menu .ant-menu-item-selected {
  background-color: #f0f3f4 !important;
  color: black !important;
}

.custom-menu .ant-menu-item:hover {
  background-color: #f0f3f4 !important;
}